body, html {
   min-height: 100%;
}
body {
   background: #b7e4ec;
}

.text {
   margin: 0 auto;
   color: #121cad;
   border: 1px solid #ad1212;
   padding: 20px;
   text-align: center;
   background-color: #f190d4;
   font-size: 30px;
   width: 500px;
   height: 200px;
}

h1 {
   font-size: 50px;
   color: #ad1212;
}